mat-form-field{
    width:100% ;
}
.getInput{
    width:99% ;
}
.form-field  {
    width:49% ;
    padding: 3px;
}
.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }