<form class="signin">
    <mat-form-field class="example-form-field" appearance="outline" autocomplete="off">
        <mat-label>Email</mat-label>
        <input matInput type="email">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="outline" autocomplete="off">
        <mat-label>Password</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <button mat-raised-button color="warn">signUp</button>
    <div class="help">OR</div>
    <span class="otherLogin"><button  class="button" mat-raised-button color="primary">facebook</button>
    <button class="button" mat-raised-button color="gray">google</button></span>
</form>