<mat-toolbar class="header">
    <span fxLayout="row " class="dat">
        <button mat-icon-button>
            <mat-icon>menu_book</mat-icon>
        </button>
        <span class="title">Bookstore</span>
        <mat-card class="input-card">
            <span [formGroup]="header" class="input-feild">
                <button mat-button>
                    <mat-icon>search</mat-icon>
                </button>
                <input matInput type="text" formControlName="dataa" autocomplete="off" placeholder="search">
            </span>
        </mat-card>
    </span>
    <span class="toolbar"></span>
    <span class="icon">
        <button mat-icon-button #tooltip="matTooltip" matTooltip="wishlist">
            <mat-icon matBadge="{{list}}" matBadgeColor="warn" routerLink="list">favorite_border</mat-icon>
        </button>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="profile" [matMenuTriggerFor]="menu">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div class="detail">
                <div fxLayout="row wrap" fxLayoutAlign="center">
                    <mat-icon class="material-icons-outlined">account_circle</mat-icon>
                </div>
                <div fxLayout="row wrap" class="button">
                    <button mat-stroked-button routerLink="profile">profile</button>
                    <button mat-stroked-button routerLink="order">My Order</button>
                </div>
            </div>
        </mat-menu>
        <mat-menu #menuLogout="matMenu">
            <div class="detail">
                <div fxLayout="row wrap" fxLayoutAlign="center">
                    logout here
                    {{name}}
                    email:{{email}}
                </div>
                <div fxLayout="row" fxLayoutAllign="end" class="button">
                    <button mat-stroked-button (click)="logout()">logout</button>
                </div>
            </div>
        </mat-menu>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="cart" class="bag">
            <mat-icon matBadge="{{bag}}" matBadgeColor="warn" routerLink="bag">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="logout" [matMenuTriggerFor]="menuLogout">
            <mat-icon routerLink="board/login">power_settings_new</mat-icon>
        </button>
    </span>
</mat-toolbar>