.header {
  background-color: #8f2b2f;
  color: white;
  font-size: x-large;
}
.data {
  margin-left: 40%;
}
.toolbar {
  flex: 1 1 auto;
  margin-right: 10%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .header {
    background-color: #8f2b2f;
    color: white;
    font-size: x-large;
  }
  .header span {
    margin-left: 10%;
  }
  .icon {
    margin-right: 10%;
  }
}
.title {
  padding-top: 30px;
}
.material-icons {
  padding-bottom: 75%;
} 
.detail {
  padding: 10px;
  width: 200px;
}
