<div fxFlexFill>
    <div fxFlex="10%"></div>
    <div fxFlex="80%">
        <div  fxLayoutAlign="center center" class="card">
        <div><mat-card-title>PLEASE LOG IN</mat-card-title></div>
        <div><mat-card-subtitle>Login to view items in your wishlist.</mat-card-subtitle></div>
        <div><img src="../../../assets/image/Page-1.png"></div>
        <div><button mat-stroked-button color="primary" (click)="redirect()">LOGIN/SIGNUP</button></div>
    </div>
    </div>
    <div fxFlex="10%"></div>
</div>