//@import '~css-star-rating/scss/star-rating';
.mat-card-image{
    width:300px ;
    height: 380px;
    padding: 30px;
    margin:0
}
ngb-rating {
    font-size: 30px;
    color:gold;
    //background: rgba(23, 221, 16, 0.815);
  }
  .detail{
      margin-bottom: 10%;
  }