.mat-card-image {
  width: 300px;
  height: 380px;
  padding: 30px;
  margin: 0;
}
ngb-rating {
  font-size: 30px;
  color: gold;
}
.detail {
  margin-bottom: 10%;
}

mat-card-actions button{
  width:47% ;
}