<div fxLayoutAlign="center start">
  <div fxFlex="10%"></div>
  <div fxLayoutAlign="center center" fxFlex="30%">
    <mat-card>
      <img mat-card-image src={{book[0][0].image}}>
      <hr>
      <mat-card-actions>
        <button mat-raised-button color="warn" [disabled]="bagButtonActive" (click)="addToBag()">{{bagButtonActive?'IN CART':'ADD TO BAG'}}</button>
        <button mat-raised-button color="warn" [disabled]="wishlistButtonActive" (click)="addTowishlist()">
          <mat-icon>favorite_border</mat-icon> {{wishlistButtonActive?'IN wishlist':'ADD TO wishlist'}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50%">
    <mat-card class="detail" *ngFor="let book of book[0]">
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>by {{book.author}}</mat-card-subtitle>
      <p>
        ({{book.quantity}})
      </p>
      <span><b>Rs {{book.price}} <del>{{book.price+100}}</del></b>
      </span>
      <hr>
      <mat-card-subtitle>&#8226;book detail</mat-card-subtitle>
      <mat-card-content>{{book.description}}
      </mat-card-content>
      <hr>
      <h4>rate this book</h4>
      <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
      <div [formGroup]="reviewForm">
        <mat-form-field appearance="outline">
          <mat-label>Add Review</mat-label>
          <input matInput type="email" formControlName="review" autocomplete="off" required>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="submitReview();reviewForm.reset()">submit</button>
      </div>
      <div *ngIf="review.length>0">
        <hr>
        <mat-card-title>Reviews for this book</mat-card-title>
        <mat-card-content *ngFor="let review of review[0]">
          <mat-card-title> {{review.value.name}}</mat-card-title>
          <ngb-rating [max]="5" [(rate)]="review.value.rating" [readonly]="true"></ngb-rating>
          <mat-card-content>{{review.value.review}}</mat-card-content>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  <div fxFlex="10%"></div>
</div>