<mat-toolbar class="main">
  <button mat-icon-button>
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>bookstore</span>
  <span class="toolbar"></span>
</mat-toolbar>
<span class="desc">Forgot your Password?</span>
<mat-card class="card">
  <span>Enter your email address and we'll send you a link to reset your password.</span>
  <form [formGroup]="forgot">
    <mat-form-field class="inputField" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" autocomplete="off" required>
      <mat-error *ngIf="forgot.controls['email'].invalid">{{validEmail()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="warn" [disabled]="!forgot.valid">Reset Password</button>
  </form>
  <!-- <button class="createAccount" mat-raised-button color="basic" >create account</button> -->
</mat-card>