.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    //align-content: center;
    width:300px ;
}
// mat-form-field{
//     //width:300px ;
// }